* {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	font-family: "Arial Black", Gadget, sans-serif;
	background-color: white;
}
td {
	height: 30px;
	width: 30px;
	/*border: 1px solid black;*/
}
.alive {
	background-color: black;
  background-image: '30x30-me.png';
}
